<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fast.app.sharer">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    -->


    <!-- EXTERNAL -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!--
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -->


    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastAppSharer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.view.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!--
            <data
                android:host="*"
                android:scheme="file" />
            <data android:scheme="content" />
            <data android:mimeType="*/*" />
            <data android:pathPattern=".*\\.obb" />
            <data android:pathPattern=".*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.obb" />
            <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.obb" />
            -->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fast.app.sharer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".domain.receiver.AppSelectorReceiver"
            android:exported="false" />
    </application>

</manifest>